<h1><%= @top_movies.count %> Results</h1>
<% @top_movies.each do |movie| %>
  <ul class="top_movies">
    <li class="title"><%= movie[:title] %></li>
    <li class="vote_average"><%= movie[:vote_average] %></li>
  </ul>
<% end %>