<h1><%= @facade.movie_index.count %> Results</h1>
<p><%= button_to "Discover Page", discover_path(@user), method: :get %></p>
<% @facade.movie_index.each do |movie| %>
  <ul id="top_movies">
    <li>Title: <%= link_to "#{movie.title}", user_movie_path(@user.id, movie.id) %></li>
    <li>Vote Average: <%= movie.vote_average %></li>
  </ul>
<% end %>