<h1>Viewing Party!</h1>

<div id="new_user">
  <%= button_to "Create a New User", "/register", method: :get %>
</div>

<div id="login">
  <%= button_to "I already have an account", login_path, method: :get %>
</div>

<ul id="existing_users">
  <h3>Existing Users</h3>
    <% @users.each do |user| %>
      <li><%= link_to "#{user.email}", dashboard_path(user) %></li>
    <% end %>
</ul>

<% if current_user %>
  <%= link_to "Log Out" %>
<% end %>